/01-jaspic-embedded/target/
/02-jaspic-goodneighbor/target/
/02-jaspic-helloworld/target/
/02-jaspic-goodneighbor - Copy/target/
/03-jaspic-goodneighbor - Copy/target/
/03-jaspic-servlet1/target/
/03-jaspic-servlet-/target/
/03-jaspic-principal-webxml/target/
/03-jaspic-principal-webxml - Copy/target/
/03-jaspic-principal-annotations/target/
/03-jaspic-principal/target/
/04-jaspic-isuserinrole-webxml/target/
/04-jaspic-isuserinrole-webxml - Copy/target/
/04-jaspic-isuserinrole-glassfishwebxml/target/
/05-jaspic-isuserinrole-annotation/target/
/05-japsic-isuserinrole-declareroles/target/
/05-jaspic-isuserinrole-glassfishwebxml/target/
/06-jaspic-sessionid/target/
/07-jaspic-servlet-webxml/target/
/07-jaspic-multiplerequests/target/
/08-jaspic-servlet-protected-webxml/target/